<div style="margin:20px 20px 0 20px;">

	<ul class="thumbnails">
		<li class="span3">
			<div class="thumbnail">

				<h3>From <i class="icon-calendar pull-right"></i></h3>

				<div class="thumbnail-body">	
					<h4>Date</h4>
					<input type="text" datepicker-popup="dd/MM" ng-model="fromTime" max="toTime" min="minTime" show-button-bar="false" show-weeks="false" id="from" class="span2">

					<h4>Hour</h4>
					<div timepicker ng-model="fromTime" show-meridian="false" minute-step="10"></div>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<h3>To <i class="icon-calendar pull-right"></i></h3>

				<div class="thumbnail-body">
					<h4>Date</h4>
					<input type="text" datepicker-popup="dd/MM" ng-model="toTime" max="currTime" min="fromTime" show-button-bar="false" show-weeks="false" id="to" class="span2 text-center">

					<h4>Hour</h4>
					<div timepicker ng-model="toTime" show-meridian="false" minute-step="10"></div>
				</div>
			</div>
			<a class="btn btn-large btn-primary pull-right" style="margin-top:10px" ng-click="loadTrans()"><i class="icon-refresh icon-white"></i> Refresh</a>
		</li>
		<li class="span4">
			<div class="thumbnail">
				<h3>Service <i class="icon-road pull-right"></i></h3>

				<div class="thumbnail-body">
					<h4>Operations</h4>
					<select ng-options="op.OPERATION group by op.APP for op in operations | orderBy:'OPERATION'" ng-model="opSelected" ng-change="cSelecte=undefined;loadTrans()">
						<option value="">-- Choose Operation --</option>
					</select>

					<h4>Consumers</h4>
					<select id="consumer" ng-options="c.DETAILS group by c.APP for c in consumers | orderBy:'DETAILS'" ng-model="cSelected" ng-change="opSelected=undefined;loadTrans()">
						<option value="">-- Choose Consumer --</option>
					</select>
				</div>
			</div>
		</li>
		<li class="span5">
			<div class="thumbnail">

				<h3>Status <i class="icon-wrench pull-right"></i></h3>

				<div class="thumbnail-body">
					<h4>Status</h4>
					<label class="checkbox inline" ng-repeat="item in statusProp | orderBy:'order'" for="{{item.name}}">
						<input type="checkbox" ng-model="item.value" ng-checked="{{item.value}}" ng-change="loadTrans()" id="{{item.name}}" ng-true-value="{{item.value}}" ng-false-value="0">{{item.name}}
					</label>

					<h4>Severity</h4>
					<label class="checkbox inline" ng-repeat="item in severityProp | orderBy:'order'" for="{{item.name}}">
						<input type="checkbox" ng-model="item.value" ng-checked="{{item.value}}" ng-change="loadTrans()" id="{{item.name}}" ng-true-value="{{item.value}}" ng-false-value="0">{{item.name}}
					</label>
				</div>
			</div>
			<div>

				<div class="thumbnail-body">
					<label for="rows">Display 
						<select class="span1" id="rows" ng-model="rowsSelected" ng-change="loadTrans()">
							<option ng-repeat="row in rows" value="{{row}}">{{row}}</option>
						</select> Rows
					</label>
					<h4 ng-if="trans.length > 0">{{trans.length}} Transactions Displayed</h4>
					<h4 ng-if="trans.length == 0">No Transactions Found</h4>

					<p ng-if="opSelected">
						<span class="label label-info">{{opSelected.APP}}</span> {{opSelected.OPERATION}} - 
						{{opSelected.HEB}}
					</p>
					<p ng-if="cSelected">
						<span class="label label-info">{{cSelected.APP}}</span> {{cSelected.DETAILS}} - 
						{{cSelected.HEB}}
					</p>
					<div ng-if="sumSeverity<7">
						Severity: <span ng-repeat="sevLabel in severityProp | filter:'!0' | orderBy:'order'"><span class="badge badge-info">{{sevLabel.name}}</span></span>
					</div>
					<div ng-if="sumStatus<15">
						Status: <span ng-repeat="statLabel in statusProp | filter:'!0' | orderBy:'order'"><span class="badge badge-info">{{statLabel.name}}</span></span>

					</div>


				</div>
			</div>
		</li>
	</ul>
</div>

<div ng-if="loading" class="alert alert-info pull-right">
	<h1 class="brand"><img src="images/Loading.gif"></img>Loading...</h1>
</div>

<table class="table">
	<thead>
		<tr>
			<th ng-repeat="th in header" ng-click="setOrder(th.name)">{{th.display}} <i ng-class="filterClass(th.name)"></i></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="tran in trans | filter:query | orderBy:order:reverse">
			<td>{{$index+1}}</td>
			<td>{{tran.desc}}</td>
			<td><span class="badge badge-info" tooltip="{{tran.provider_d}}">{{tran.provider}}</span></td>
			<td><span tooltip="{{tran.mep}}"><i class="icon-{{mepIcon(tran.mep)}}"></i></span></td>
			<td><span class="badge badge-info" tooltip="{{tran.consumer_d}}">{{tran.consumer}}</span></d>
				<td>{{tran.objkey | truncate:50}}</td>
				<td><span class="label label-{{severity[tran.severity]}}">{{tran.status}}</span></td>
				<td>{{tran.updated}}</td>
				<td>
					<a href="" ng-click="open(tran.id)" class="btn btn-small btn-success">Open <i class="icon-folder-open"></i></a> 
					<a href="#/transactions/{{tran.id}}" target="_blank" class="btn btn-small btn-info">Go <i class="icon-arrow-right"></i></a>
				</td>
			</tr>
		</tbody>
	</table>


	<div class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="navbar-inner">
			<div style="margin:0 20px">
				<ul class="nav">
					<li>From: <span class="badge badge-info">{{fromTime | date:'dd/MM/yy HH:mm'}}</span>
						<li class="divider-vertical"></li>
						<li>To: <span class="badge badge-info">{{toTime | date:'dd/MM/yy HH:mm'}}</span>
						</li>

						<li ng-if="!loading" class="divider-vertical"></li>
						<li ng-if="!loading">
							Elapsed Time: <span class="badge badge-info">{{timeElapsed}}</span> ms 
						</li>
						<li ng-if="!loading" class="divider-vertical"></li>
						<li ng-if="!loading">
							Response Timestamp: <span class="badge badge-info">{{responseTime | date:'HH:mm:ss'}}</span>
						</li>	
					</ul>
				</div>
			</div>
		</div>